body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}
.text-orange-primary {
    color: #f36f21;
}
.bg-orange-primary {
    background-color: #f36f21;
}
.hover\:bg-orange-secondary:hover {
    background-color: #e06017;
}
.border-orange-primary {
    border-color: #f36f21;
}
.group:hover .group-hover-text-orange {
    color: #f36f21;
}
.section-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f36f21;
    margin: 8px auto 0;
}
/* Styles for page navigation */
.page-content {
    display: none;
}
.page-content.active {
    display: block;
}
/* Styles for active nav links */
.main-nav-link.active {
    color: #f36f21;
    font-weight: 700;
}
.sidebar-link.active {
    background-color: #f36f21;
    color: white;
    border-right: 4px solid #c25413;
}
.ux-shape-divider--top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.ux-shape-divider--top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}
.ux-shape-fill {
    fill: #FFFFFF;
}